/** @format */

.mainContainer {
  background-color: #F2F7F8;
	height: 240px;
	border-radius: 20px;
	width: 80%;
  display:flex;
  justify-content:flex-end;
  border-bottom:35px solid #009D9A;
  
}

.container1{
  width: "50%";
  margin-left: "8%"
}

.button {
  height: 40px;
	display: flex;
	align-items: center;
	margin-top: 10%;
}

.h1a {
  font-size: "20px";
  font-weight: "bold";
  color: "gray";
}

.h1b {
  color: #009D9A;
  font-size: 18px;
}

.buttondiv {
  display: flex;
	flex-direction: column;
  align-items:center;
	width:50%;
}

.atagdiv{
  margin-top: 5%; 
}

.atag {
  color: black;
  cursor: pointer;
}