.wrapper {
    background-color: #039BE5;
    margin: 0;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

button {
    text-decoration: none;
    padding: 1rem 2rem;
    border: none;
    background-color: #f1356d;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}